body{
    padding: 1px;
    background-color: #222;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input{
    margin: auto;
    border: 1px white solid;
    color: white;
    background-color: #555;
}
tr:hover{
    background-color: #555;
}
tr td.nohover{
    background-color: #222;
}
table{
    border-collapse:separate;
    border-spacing: 0px;
}
thead{
    position: sticky;
    top: 0;
    background-color: #222;
    z-index: 2;
}
tbody{
    z-index: 1;
}
thead td{
    border: 1px #ddd solid;
}
td{
    padding: 5px;
    border-collapse: collapse;
}
span{
    color: white;
}
button{
    margin: auto;
}
div{
    padding: 5px;
}
.flex{
    display: flex;
}
.centery{
    margin:auto;
}
.centerx{
    justify-content: center;
    text-align: center;
}
.smborder{
    border: 1px #ddd solid;
}
.smborder_red{
    border: 3px red solid;
    border-radius: 3px;
}
.lrborder{
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
    /*border-color: #ddd solid;*/
}
.bluebg{
    background-color: darkblue;
}
.selected{
    background-color: #000099;
}
.greybg{
    background-color: #000066;
    font-size: small;
}
.hidden{
    display: none;
}
.pulsered{
    animation-name: redpulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes redpulse {
    0% {color: white;}
    50% {color: red;}
    100% {color: white;}
}

button{
    border: 1px #fff solid;
    border-radius: 2px;
    background-color: #333;
    margin: 2px;
    color: white;
}
button:hover{
   background-color: #555;
}
.undobutton{
    color: yellow;
    border-color: yellow;
}
.resetbutton{
    color: red;
    border-color: red;
}
